@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0a5f38;
  color: white;
  overflow: hidden; /* Prevent scrolling in game */
}

#root {
  width: 100%;
  height: 100vh;
}
